body {
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    font: 100%/1.5 system-ui;
}

h1 {
  color: #333;
}

nav {
  display: flex;
  margin-bottom: 1.5em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em; 
}

nav a:hover {
  background-color: oklch(92% 3% 245); /* Very light gray background */
  border-bottom: 0.4em solid oklch(54% 19% 250); /* Vibrant blue accent */
  color: oklch(40% 0% 0); /* Darker text on hover */
  transition: all 0.2s ease-in-out;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

label {
  grid-column: 1;
  justify-self: end;
  padding-right: 1em;
}

input:not([type="submit"]), textarea {
  grid-column: 2;
}

input[type="submit"] {
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 50px;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  align-items: center;
  gap: 1em;
}

article{
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;

}

h2{
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  margin-block: 0.5em 0.25em;
}

.container {
  padding: 20px;
}

